body{
    margin: 0;
  }
  
  button{
    border-radius: 65px;
    position: absolute;
    left: 540px;
    top: 1477px;
    font-size: 50px;
    background-color: #1e2925;
    color: white;
    padding: 2rem;
    width: 520px;
    transition: 0.5s ease-in-out;
    font-weight: 600;
  }
  
  
  button:hover{
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 1px 2px 12px black;
  }
  
  a{
      color: white;
      text-decoration: none; 
  }